// import variables
@import '../../../../assets/styles/variables.scss';
// import mixins
@import '../../../../assets/styles/mixins.scss';

nav {
    min-height: 70px;
    .nav-item {
        margin: 0 10px;
        &:last-child {
            margin: 0 0 0 10px;
        }
    }
}

.nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: $darkBlue;
    @include font-size($fontSmall);
    @include transition(all, 0.2s);
    &:hover {
        color: $mainPurple;
    }
}