<div class="login-wrapper d-flex black-box-shadow mx-auto">
  <!-- start login background -->
  <div class="login-bg">
    <img class="img-fluid" src="../../../assets/images/login/login_bg.png" alt="login background" title="Login">
  </div>
  <!-- end login background -->

  <!-- start login form -->
  <div class="login-form d-flex">
    <div class="login-form-title">
      <h1>Welcome back!</h1>
      <h6>Please login to access your <span>Spaces</span> Dashboard</h6>
    </div>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" splaceholder="Username...">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="d-flex form-actions">
        <a href="#">Forget password?</a>
        <button type="submit" class="btn btn-default btn-rec black-box-shadow">Login</button>
      </div>
    </form>
  </div>
  <!-- end login form -->
</div>