<div class="login-wrapper d-flex black-box-shadow mx-auto">
  <!-- start login background -->
  <div class="login-bg">
    <img class="img-fluid" src="../../../assets/images/login/login_bg.png" alt="login background" title="Login">
  </div>
  <!-- end login background -->

  <!-- start login form -->
  <div class="login-form d-flex">
    <div class="login-form-title">
      <h1>Welcome back!</h1>
      <h6>Please login to access your <span>Spaces</span> Dashboard</h6>
    </div>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          name="Email" 
          [(ngModel)]="user.email"
          splaceholder="Email Address..." 
          required
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          name="password" 
          [(ngModel)]="user.password" 
          placeholder="Password" 
          required
        >
      </div>
      <div class="d-flex form-actions">
        <a href="#">Forget password?</a>
        <button class="btn btn-default btn-rec black-box-shadow">Login</button>
      </div>
    </form>
  </div>
  <!-- end login form -->
</div>