// import variables
@import '../../../assets/styles/variables.scss';
// import mixins
@import '../../../assets/styles/mixins.scss';

.login-wrapper {
    width: 55%;
    min-height: 567px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $white;
    @include border-radius(10px);
    @include breakpoint(laptop) {
      width: 80%;
    }
    @include breakpoint(tablet) {
      width: 90%;
    }
    @include breakpoint(mobile) {
        flex-direction: column;
    }
    .login-bg {
        width: 48%;
        @include breakpoint(mobile) {
          width: 100%;
        }
        img {
            min-width: 100%;
            min-height: 100%;
        }
    }
    .login-form {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 15px;
        width: 52%;
      
        @include breakpoint(mobile) {
            width: 100%;
            padding: 25px 15px;
            justify-content: center;
        }
        .login-form-title {
          margin-bottom: 30px;
          h1,
          h6 {
            color: $darkBlue;
            font-weight: bold;
            margin-bottom: 15px;
            @include font-size($fontMedium);
          }

          h6 {
            @include font-size($fontSmall);

            span {
              color: $mainPurple;
            }
          }
        }
        form {
          width: 100%;
          label {
            color: $lightGrey;
            @include font-size($fontExSmall);
          }

          .form-group {
            margin-bottom: 25px;

            &:last-child {
              margin-bottom: 0;
            }
          }
          input {
            height: 36px;
            border: solid 1px $borderColor;
            color: $darkBlue;
            @include font-size($fontSmall);
            @include border-radius(3px);

            @include breakpoint(tablet) {
              width: 100%;
            }

            &:focus {
              outline: 0;
              box-shadow: none;
            }
          }

          ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $lightGrey;
            @include font-size($fontSmall);
          }

          ::-moz-placeholder {
            /* Firefox 19+ */
            color: $lightGrey;
            @include font-size($fontSmall);
          }

          :-ms-input-placeholder {
            /* IE 10+ */
            color: $lightGrey;
            @include font-size($fontSmall);
          }

          :-moz-placeholder {
            /* Firefox 18- */
            color: $lightGrey;
            @include font-size($fontSmall);
          }

          .form-actions {
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;

            a {
              color: $mainPurple;
              @include font-size($fontExSmall);
            }
          }
        }
    }
}