<div class="users-header-wrapper black-box-shadow">
   <div class="container">
     <div class="row">
       <div class="col-12">
        <!-- start breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
          </ol>
        </nav>
        <!-- end breadcrumb -->
        
        <!-- start users header & add user -->
        <div class="users-add d-flex">
          <h1>Users List</h1>
          <button (click)="openModalData(content)"
            class="btn btn-default btn-rec black-box-shadow"><span>+</span> New User</button>
        </div>
        <!-- end users hedaer & add user -->
      </div>
    </div>
  </div>
</div>
  
<!-- start modal data -->
<ng-template #content let-modal>
  <div class="modal-body">
    <form>
     <div class="form-group file-input">
       <div class="input-group">
         <i class="icon icon-icon-user d-flex"></i>
         <input accept="image/png, image/jpeg, image/jpg, image/gif" type="file" name="userImage" (change)="previewImage($event)"
           id="userImage" class="form-control">
          <div class="input-group">
            <img required *ngIf="url" [src]="url" class="img-fluid">
            <span class="input-group-btn input-group-sm">
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="fnname" splaceholder="First Name">
      </div>
      <div class="form-group">
        <label for="lname">Lasat Name</label>
        <input type="text" class="form-control" id="lname" name="lname" splaceholder="Last Name">
      </div>
      <div class="d-flex form-actions">
        <button type="button" class="btn btn-light black-box-shadow"
        (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-default btn-rec black-box-shadow">Add</button>
      </div>
    </form>
  </div>
</ng-template>
<!-- end modal data -->