<div class="users-header-wrapper black-box-shadow">
   <div class="container">
     <div class="row">
       <div class="col-12">
        <!-- start breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
          </ol>
        </nav>
        <!-- end breadcrumb -->
        
        <!-- start users header & add user -->
        <div class="users-header d-flex">
          <h1>Users List</h1>
          <button class="btn btn-default btn-rec black-box-shadow"><span>+</span> New User</button>
        </div>
        <!-- end users hedaer & add user -->
      </div>
    </div>
  </div>
</div>
  