<div class="users-listing ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="users-listing-wrapper black-box-shadow">
                    <div class="users-listing-header d-flex">
                        <h6>User</h6>
                        <h6 class="d-none d-sm-block">Actions</h6>
                    </div>
                    <app-single-user></app-single-user>
                </div>
            </div>
        </div>
    </div>
</div>