<header class="black-box-shadow">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- start navbar -->
        <nav class="navbar navbar-light navbar-expand-lg">
          <a class="navbar-brand" routerLink="/users">
            <img src="../../../../assets/images/logo.svg" alt="spaces logo" title="Spaces Logo">
          </a>

          <!-- responsive navbar button -->
          <button class="navbar-toggler" type="button" (click)="collapse()"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div [ngClass]="collapsed ? 'collapseIn' : 'collapseOut'" class="collapseOut navbar-collapse"
            id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink='/users' routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/about' routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/contact' routerLinkActive="active">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-default btn-rec black-box-shadow" routerLink='/login'>Login</a>
              </li>
            </ul>
          </div>
        </nav> 
        <!-- end navbar -->
      </div>
    </div>
  </div>
</header>