// import variables
@import '../../../assets/styles/variables.scss';
// import mixins
@import '../../../assets/styles/mixins.scss';

header {
    min-height: 70px;
    background-color: $white;
    nav {
        min-height: 70px;
        padding: 10px 0;
        .navbar-toggler {
            &:focus {
                outline: 0;
                border-color: $mainPurple;
            }
        }
        .navbar-collapse {
            &.collapseOut {
                @include transition(height, 0.3s);
                height: 0px;
                ul {
                    @media (max-width:992px) {
                        @include opacity(0);
                        @include transition(opacity, 0.1s);
                    }
                }
            }
            &.collapseIn {
                @include transition(height, 0.3s);
                height: 185px;
                    @media (max-width:992px) {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                    }
                ul {
                    @include transition(opacity, 0.8s);
                    @include opacity(1);
                    @media (max-width:992px) {
                        &.ml-auto {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
        .navbar-nav {
            @media (max-width:992px) {
                display: inline-block;
                padding: 15px 0;
                li {
                    margin: 0;
                }
            }
        }
        .nav-item {
            margin: 0 10px;
            &:last-child {
                margin: 0 0 0 10px;
            }
        }
    }
}

.nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: $darkBlue;
    @include font-size($fontSmall);
    @include transition(all, 0.2s);
    &:hover {
        color: $mainPurple;
    }
    &.active {
        color: $mainPurple;
    }
}

