<!-- start single user  -->
<div class="single-user-wrapper">
  <div class="single-user-row d-flex">
    <div class="single-user-info d-flex">
      <img class="img-fluid" src="../../../../../assets/images/login/login_bg.png" alt="user" title="user">
      <h4>Vladimir Usov</h4>
    </div>
    <div class="single-user-actions">
      <span class="action-icon" title="edit">
          <i class="icon icon-edit"></i>
      </span>
      <span class="action-icon" title="delete">
          <i class="icon icon-delete"></i>
      </span>
      <span class="action-icon" title="details">
          <i class="icon icon-more"></i>
      </span>
    </div>
  </div>
</div>
<!-- end single user -->

<!-- start single user  -->
<div class="single-user-wrapper">
  <div class="single-user-row d-flex">
    <div class="single-user-info d-flex">
      <img class="img-fluid" src="../../../../../assets/images/login/login_bg.png" alt="user" title="user">
      <h4>Vladimir Usov</h4>
    </div>
    <div class="single-user-actions">
      <span class="action-icon" title="edit">
        <i class="icon icon-edit"></i>
      </span>
      <span class="action-icon" title="delete">
        <i class="icon icon-delete"></i>
      </span>
      <span class="action-icon" title="details">
        <i class="icon icon-more"></i>
      </span>
    </div>
  </div>
</div>
<!-- end single user -->

<!-- start single user  -->
<div class="single-user-wrapper">
  <div class="single-user-row d-flex">
    <div class="single-user-info d-flex">
      <img class="img-fluid" src="../../../../../assets/images/login/login_bg.png" alt="user" title="user">
      <h4>Vladimir Usov</h4>
    </div>
    <div class="single-user-actions">
      <span class="action-icon" title="edit">
        <i class="icon icon-edit"></i>
      </span>
      <span class="action-icon" title="delete">
        <i class="icon icon-delete"></i>
      </span>
      <span class="action-icon" title="details">
        <i class="icon icon-more"></i>
      </span>
    </div>
  </div>
</div>
<!-- end single user -->

<!-- start single user  -->
<div class="single-user-wrapper">
  <div class="single-user-row d-flex">
    <div class="single-user-info d-flex">
      <img class="img-fluid" src="../../../../../assets/images/login/login_bg.png" alt="user" title="user">
      <h4>Vladimir Usov</h4>
    </div>
    <div class="single-user-actions">
      <span class="action-icon" title="edit">
        <i class="icon icon-edit"></i>
      </span>
      <span class="action-icon" title="delete">
        <i class="icon icon-delete"></i>
      </span>
      <span class="action-icon" title="details">
        <i class="icon icon-more"></i>
      </span>
    </div>
  </div>
</div>
<!-- end single user -->

<!-- start single user  -->
<div class="single-user-wrapper">
  <div class="single-user-row d-flex">
    <div class="single-user-info d-flex">
      <img class="img-fluid" src="../../../../../assets/images/login/login_bg.png" alt="user" title="user">
      <h4>Vladimir Usov</h4>
    </div>
    <div class="single-user-actions">
      <span class="action-icon" title="edit">
        <i class="icon icon-edit"></i>
      </span>
      <span class="action-icon" title="delete">
        <i class="icon icon-delete"></i>
      </span>
      <span class="action-icon" title="details">
        <i class="icon icon-more"></i>
      </span>
    </div>
  </div>
</div>
<!-- end single user -->