<!-- start users header -->
<div class="users-header-wrapper black-box-shadow">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- start breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/users">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
          </ol>
        </nav>
        <!-- end breadcrumb -->

        <!-- start users header & add user -->
        <div class="users-add d-flex">
          <h1>Users List</h1>
          <button (click)="openModalData(content)" class="btn btn-default btn-rec black-box-shadow"><span>+</span> New
            User</button>
        </div>
        <!-- end users hedaer & add user -->
      </div>
    </div>
  </div>
</div>
<!-- end users header -->

<!-- start users listing -->
<div class="users-listing">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="users d-flex" *ngIf="users.length != 0">
          <!-- start users list  -->
          <div [ngClass]="!userDetails ? 'listFullWidth' : 'listPartialWidth'"
            class="users-listing-wrapper black-box-shadow listFullWidth">
            <div class="users-listing-header d-flex">
              <h6>User</h6>
              <h6 class="d-none d-sm-block">Actions</h6>
            </div>
            <div *ngFor="let user of users" class="single-user-wrapper">
              <div let user="user" let userIndex="userIndex" class="single-user-row d-flex">
                <div class="single-user-info d-flex">
                  <img class="img-fluid" src="{{user.avatar}}" alt="{{user.first_name}}"
                    title="{{user.first_name}} {{user.last_name}}">
                  <h4>{{user.first_name}} {{user.last_name}}</h4>
                </div>
                <div class="single-user-actions">
                  <span (click)="loadUser(user.id)" (click)="openModalData(content)" class="action-icon" title="edit">
                    <i class="icon icon-edit"></i>
                  </span>
                  <span (click)="confirmDeleteUser(user, userIndex)" (click)="openModalDelete(delete)"
                    class="action-icon" title="delete">
                    <i class="icon icon-delete"></i>
                  </span>
                  <span (click)="loadUser(user.id)" (click)="showUserDeatils()" class="action-icon" title="details">
                    <i class="icon icon-more"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- end users list -->

          <!-- start user details -->
          <aside [ngClass]="userDetails ? 'detailsShow' : 'detailsHide'"
            class="user-details black-box-shadow detailsHide">
            <i (click)="hideUserDeatils()" class="icon icon-cross"></i>
            <img src="{{user.avatar}}" alt="{{user.first_name}} {{user.last_name}}"
              title="{{user.first_name}} {{user.last_name}}">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <div class="d-flex form-actions">
              <button class="btn btn-default btn-rec black-box-shadow">
                <i class="icon icon-edit d-flex"></i>Edit
              </button>
              <button (click)="confirmDeleteUser(user, userIndex)" (click)="openModalDelete(delete)" type="button"
                class="btn btn-light black-box-shadow">
                <i class="icon icon-delete d-flex"></i>Delete
              </button>
            </div>
          </aside>
          <!-- end user details -->
        </div>

        <!-- start no users message -->
        <div class="users-listing-wrapper black-box-shadow no-data" *ngIf="users.length == 0 || users.length == null">
          <h3 class=text-center>No Users!</h3>
        </div>
        <!-- end no users message -->
      </div>
    </div>
  </div>
</div>
<!-- end users listing -->


<!-- start modal data -->
<ng-template #content let-modal>
  <div class="modal-body">
    <form (ngSubmit)="submitCreateUser()" ngNativeValidate>
      <!-- <div class="form-group file-input">
        <div class="input-group">
          <i class="icon icon-user d-flex"></i>
          <input accept="image/png, image/jpeg, image/jpg, image/gif" type="file" name="avatar"
            (change)="previewImage($event)" [(ngModel)]="user.avatar" id="avatar" class="form-control">
          <div class="input-group">
            <img required *ngIf="url" [src]="url" class="img-fluid">
            <img required *ngIf="!url" src="url" class="img-fluid">
            <span class="input-group-btn input-group-sm">
            </span>
          </div>
        </div>
      </div> -->
      <div class="form-group">
        <label for="name">First Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="first_name" 
          name="first_name" 
          [(ngModel)]="user.first_name"
          placeholder="First Name..." 
          required 
          minlength="2" 
          maxlengrth=10 
          #first_name="ngModel"
        >
        <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">
          <div *ngIf="first_name.errors.required">
            First Name is required.
          </div>
          <div *ngIf="first_name.errors.minlength">
            First Name be at least 2 characters long.
          </div>
          <div *ngIf="first_name.errors.maxlength">
            First Name shouldn't be more than 10 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="last_name" 
          name="last_name" 
          [(ngModel)]="user.last_name"
          placeholder="Last Name..." 
          required 
          minlength="2" 
          maxlength="10" 
          #last_name="ngModel"
        >
        <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger">
          <div *ngIf="last_name.errors.required">
            Last Name is required.
          </div>
          <div *ngIf="last_name.errors.minlength">
            Last Name be at least 2 characters long.
          </div>
          <div *ngIf="last_name.errors.maxlength">
            Last Name shouldn't be more than 10 characters long.
          </div>
        </div>
      </div>
      <div class="d-flex form-actions">
        <button type="button" class="btn btn-light black-box-shadow" (click)="modal.close('Close click')">Close</button>
        <button class="btn btn-default btn-rec black-box-shadow">Add</button>
        <!-- <button *ngIf="editBtn" class="btn btn-default btn-rec black-box-shadow">Edit</button> -->
      </div>
    </form>
  </div>
</ng-template>
<!-- end modal data -->


<!-- start modal delete -->
<ng-template #delete let-modal>
  <div class="modal-body">
    <div class="modal-heading">
      <h4>Are you sure you want to delete</h4>
      <h3>{{currentUser.first_name}} {{currentUser.last_name}}</h3>
    </div>
    <div class="d-flex form-actions">
      <button 
        (click)="modal.close('Close click')" 
        type="button" 
        class="btn btn-light black-box-shadow">No
      </button>
      <button 
        (click)="deleteUser(currentUser)"
        class="btn btn-default btn-rec black-box-shadow">Yes
      </button>
    </div>
  </div>
</ng-template>
<!-- end modal delete -->