@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Black.eot');
  src: url('assets/fonts/Heebo-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Bold.woff2') format('woff2'),
    url('assets/fonts/Heebo-Bold.woff') format('woff'),
    url('assets/fonts/Heebo-Bold.ttf') format('truetype'),
    url('assets/fonts/Heebo-Bold.svg#Heebo-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Black.eot');
  src: url('assets/fonts/Heebo-Black.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Black.woff2') format('woff2'),
    url('assets/fonts/Heebo-Black.woff') format('woff'),
    url('assets/fonts/Heebo-Black.ttf') format('truetype'),
    url('assets/fonts/Heebo-Black.svg#Heebo-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Thin.eot');
  src: url('assets/fonts/Heebo-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Thin.woff2') format('woff2'),
    url('assets/fonts/Heebo-Thin.woff') format('woff'),
    url('assets/fonts/Heebo-Thin.ttf') format('truetype'),
    url('assets/fonts/Heebo-Thin.svg#Heebo-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Medium.eot');
  src: url('assets/fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Medium.woff2') format('woff2'),
    url('assets/fonts/Heebo-Medium.woff') format('woff'),
    url('assets/fonts/Heebo-Medium.ttf') format('truetype'),
    url('assets/fonts/Heebo-Medium.svg#Heebo-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Regular.eot');
  src: url('assets/fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Regular.woff2') format('woff2'),
    url('assets/fonts/Heebo-Regular.woff') format('woff'),
    url('assets/fonts/Heebo-Regular.ttf') format('truetype'),
    url('assets/fonts/Heebo-Regular.svg#Heebo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Light.eot');
  src: url('assets/fonts/Heebo-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Light.woff2') format('woff2'),
    url('assets/fonts/Heebo-Light.woff') format('woff'),
    url('assets/fonts/Heebo-Light.ttf') format('truetype'),
    url('assets/fonts/Heebo-Light.svg#Heebo-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-ExtraBold.eot');
  src: url('assets/fonts/Heebo-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/Heebo-ExtraBold.woff') format('woff'),
    url('assets/fonts/Heebo-ExtraBold.ttf') format('truetype'),
    url('assets/fonts/Heebo-ExtraBold.svg#Heebo-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}