// Heebo Bold
@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Bold.eot');
  src: url('assets/fonts/Heebo-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Bold.woff2') format('woff2'),
    url('assets/fonts/Heebo-Bold.woff') format('woff'),
    url('assets/fonts/Heebo-Bold.ttf') format('truetype'),
    url('assets/fonts/Heebo-Bold.svg#Heebo-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Heebo Thin
@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Thin.eot');
  src: url('assets/fonts/Heebo-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Thin.woff2') format('woff2'),
    url('assets/fonts/Heebo-Thin.woff') format('woff'),
    url('assets/fonts/Heebo-Thin.ttf') format('truetype'),
    url('assets/fonts/Heebo-Thin.svg#Heebo-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

// Heebo Medium
@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Medium.eot');
  src: url('assets/fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Medium.woff2') format('woff2'),
    url('assets/fonts/Heebo-Medium.woff') format('woff'),
    url('assets/fonts/Heebo-Medium.ttf') format('truetype'),
    url('assets/fonts/Heebo-Medium.svg#Heebo-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

// Heebo Rgular
@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Regular.eot');
  src: url('assets/fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Regular.woff2') format('woff2'),
    url('assets/fonts/Heebo-Regular.woff') format('woff'),
    url('assets/fonts/Heebo-Regular.ttf') format('truetype'),
    url('assets/fonts/Heebo-Regular.svg#Heebo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Heebo Light
@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Light.eot');
  src: url('assets/fonts/Heebo-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Heebo-Light.woff2') format('woff2'),
    url('assets/fonts/Heebo-Light.woff') format('woff'),
    url('assets/fonts/Heebo-Light.ttf') format('truetype'),
    url('assets/fonts/Heebo-Light.svg#Heebo-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Actions Icons Font
@font-face {
  font-family: "actions-font";
  src: url("assets/fonts/actions-icons/actions-font.eot");
  src: url("assets/fonts/actions-icons/actions-font.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/actions-icons/actions-font.woff") format("woff"),
    url("assets/fonts/actions-icons/actions-font.ttf") format("truetype"),
    url("assets/fonts/actions-icons/actions-font.svg#actions-font/actions-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "actions-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "actions-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\62";
}

.icon-delete:before {
  content: "\61";
}

.icon-more:before {
  content: "\63";
}