// import variables
@import './variables.scss';
// import mixins
@import './mixins.scss';

// global


// rectangle common button
.btn.btn-default.btn-rec {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 94px;
  height: 40px;
  padding: 0 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  border-color: $mainPurple;
  background-color: $mainPurple;
  @include font-size($fontSmall);
  @include border-radius(20px);
  @include transition(0.2s, all);
  @include breakpoint(mobile) {
    @include font-size($fontExSmall);
  }
  &:hover {
    color: $mainPurple;
    background: $white;
    border-color: $mainPurple;
  }
}

.btn-light {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 94px;
  height: 40px;
  padding: 0 15px;
  font-weight: bold;
  border: solid 1px $mainPurple;
  color: $mainPurple;
  background-color: $mainColor;
  @include font-size($fontSmall);
  @include border-radius(20px);
  @include transition(0.2s, all);
  @include breakpoint(mobile) {
    @include font-size($fontExSmall);
  }
  &:hover {
    color: $mainPurple;
    background: $white;
    border-color: $mainPurple;
  }
}

// common box shadow
.black-box-shadow {
    @include box-shadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.2));
}

// modal
.modal-dialog {
  width: 363px;
  margin: auto;
  background-color: transparent;
  @include border-radius(10px);
  .modal-content {
    .modal-heading {
      padding: 20px 0;
      text-align: center;
      h4 {
        color: $lightGrey;
        margin-bottom: 15px;
        @include font-size($fontSmall);
      }
      h3 {
        font-weight: 500;
        color: $darkBlue;
        @include font-size($fontSmall);
      }
    }
    form {
      margin-top: 50px;
      .file-input {
        margin: auto;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        bottom: auto;
        background: $lightGrey;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        border: 3px solid $white;
        .input-group {  
          position: absolute;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          @include border-radius(100%);
          i {
            color: $white;
            @include font-size($fontMedium);
          }
          input {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 99;
            cursor: pointer;
            @include opacity(0);
          }
          img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            @include border-radius(100%);
          }
        }
      }
      label {
        color: $lightGrey;
        @include font-size($fontExSmall);
      }
      .form-group {
        margin-bottom: 25px;
        &:first-child {
          margin-bottom: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      input {
        border: solid 1px $borderColor;
        color: $darkBlue;
        @include font-size($fontSmall);
        @include border-radius(3px);
        &:focus {
          outline: 0;
          box-shadow: none;
          border-color: $mainPurple;
        }
      }
      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $lightGrey;
        @include font-size($fontSmall);
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        color: $lightGrey;
        @include font-size($fontSmall);
      }

      :-ms-input-placeholder {
        /* IE 10+ */
        color: $lightGrey;
        @include font-size($fontSmall);
      }

      :-moz-placeholder {
        /* Firefox 18- */
        color: $lightGrey;
        @include font-size($fontSmall);
      }

      .form-actions {
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        a {
          color: $mainPurple;
          @include font-size($fontExSmall);
        }
      }
    }
    .form-actions {
      justify-content: space-between;
      .btn {
        width: 100%;
        text-transform: capitalize;
        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}
