// import variables
@import './variables.scss';
// import mixins
@import './mixins.scss';

// global


// rectangle common button
.btn.btn-default.btn-rec {
  width: 94px;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  border-color: $mainPurple;
  background-color: $mainPurple;
  @include font-size($fontSmall);
  @include border-radius(20px);
  @include transition(0.2s, all);
  &:hover {
    color: $mainPurple;
    background: $white;
    border-color: $mainPurple;
  }
}

// common box shadow
.black-box-shadow {
    @include box-shadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.2));
}